<ion-view title="Image " id="page9" style=" background-color:#303030" class=" ">
  <ion-nav-buttons side = "right">
  <a ui-sref="preview" id="image2-button42" class=" button icon ion-ios-redo"></a>
</ion-nav-buttons>
    <ion-content padding="true"  class="has-header">
      <p>
        <img ng-src="{{images}}" class="centerme" />
      </p>

        <p id="image2-markdown2"  class=" " style="  color: #03A9F4">Place a button to link to your website</p>
        <button id="image2-button31" class=" button button-royal  button-block ">Link to website</button>
    </ion-content>
    <ion-footer-bar  >
  <div  id="text-bar" >
    <button class="button icon ion-edit" id="text-button39" >Text</button>
    <button class="button icon ion-social-tumblr" id="text-button39">Font</button>
    <button class="button icon ion-android-checkbox-outline-blank" id="text-button39">Border</button>
    <button class="button icon ion-ios-color-wand" id="text-button39">Color</button>
    <button class="button icon ion-ios-color-wand" id="text-button39">Background color</button>
  </div>
</ion-footer-bar>
</ion-view>
