<ion-view title="Login" id="page6" class=" ">
    <ion-content padding="true"  class="has-header">
        <form id="login-form1" class="list ">
            <ion-list id="login-list1" class=" ">
                <label class="item item-input " id="login-input1">
                    <input type="text" placeholder="Username">
                </label>
                <label class="item item-input " id="login-input2">
                    <input type="password" placeholder="Password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="welcome" id="login-button4" class=" button button-assertive  button-block ">Log in</a>
            <a ui-sref="signup" id="login-button5" class=" button button-stable  button-block button-clear ">Or create an account</a>
        </form>
    </ion-content>
</ion-view>
