<ion-view title="Signup" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="signup-form2" class="list ">
            <ion-list id="signup-list2" class=" ">
                <label class="item item-input " id="signup-input3">
                    <input type="text" placeholder="Name">
                </label>
                <label class="item item-input " id="signup-input4">
                    <input type="text" placeholder="Username">
                </label>
                <label class="item item-input " id="signup-input5">
                    <input type="text" placeholder="Password">
                </label>
                <label class="item item-input " id="signup-input6">
                    <input type="text" placeholder="Mobile Number">
                </label>
            </ion-list>
            <label class="item item-input " id="signup-input7">
                <input type="text" placeholder="City">
            </label>
            <a ui-sref="welcome" id="signup-button6" class=" button button-assertive  button-block ">Sign up</a>
        </form>
    </ion-content>
</ion-view>
